#main-border {
    border: 1px solid #eee;
}

#btn-1 {
    cursor: pointer;
    font-size: 11px;
    border-radius: 0px;
    color: #fff;
    background-color: #0099BC;
    border: 1px solid #0099BC;
    transition: 0s;
}

#btn-1:hover {
    background-color: #0086A5;
    transition: 0s;    
}

.pager {
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;    
}

:host >>> .ngx-pagination .current {
    border: 1px solid #eee; 
    background-color: #0099BC;
    color: #fff;   
}

:host >>> .ngx-pagination a {
}


:host >>> .ngx-pagination a:hover {
    background-color: #fff;
}


