#main-border {
    border: 1px solid #eee;
}

#btn-1 {
    cursor: pointer;
    font-size: 11px;
    color: #fff;
    background-color: #0099BC;
    border: 1px solid #0099BC;
}

#btn-1:hover {
    background-color: #0086A5;
}

.dropdown {
	padding-left: 16px;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: visible;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content div {
	font-size: 11px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a {
	font-size: 11px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content div:hover {background-color: #f1f1f1}
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    /*background-color: #eee;*/
}

.pager {
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
}

:host >>> .ngx-pagination .current {
    border: 1px solid #eee; 
    background-color: #0099BC;
    color: #fff;   
}

:host >>> .ngx-pagination a {
}


:host >>> .ngx-pagination a:hover {
    background-color: #fff;
}

:host >>>  .tooltip {
    opacity: 1;
}

:host >>>  .tooltip-inner {
    font-size: 11px;
}


@media (min-width: 344px) {
    .search-box {
        max-width: 100%;
    }
}

@media (min-width: 544px) {
    .search-box {
        max-width: 93%;
        padding-left: 7%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .search-box {
        max-width: 93%;
        padding-left: 7%;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .search-box {
        max-width: 93%;
        padding-left: 7%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .search-box {
        max-width: 93%;
        padding-left: 7%;
    }
}

