<style>

</style>
<div class="container">

    <cascade-header-members [user]="user.username" [currency]="user.currency"></cascade-header-members>

    <div class="container border-top-0" id="main-border">
        <div class="row">

            <div class="col-12 text-center border-top-0" style="padding-top: 10px;">
                <cascade-main-menu-nav [selectedTab]="'INVENTORY'"></cascade-main-menu-nav>
            </div>

            <div *ngIf="messages" class="col-12 text-center" style="padding-bottom: 17px; font-size: 12px;">
                <cascade-alert-messages [messages]="messages"></cascade-alert-messages>
            </div>

            <div class="col-12">
                <div class="row text-center" *ngIf="!inventoryEmpty">

                    <div class="col-12" align="center">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0" style="padding-bottom: 15px; width: 85%;">
                            <div class="input-group-addon" style="border-radius: 0px;"><i class="fa fa-search" aria-hidden="true"></i></div>
                            <input type="text" class="form-control form-control-sm" id="inlineFormInputGroup" placeholder="Search..." autocomplete="off"
                                [(ngModel)]="searchedItem" (ngModelChange)="searchInventory()" style="border-radius: 0px;">
                        </div>
                    </div>

                    <div class="col-sm-3 col-6" *ngFor="let i of inventory | paginate: { itemsPerPage: 8, currentPage: currentPage }" style="padding-bottom: 20px; font-size: 11px;">
                        <cascade-icon-with-tooltip [item]="i" [iconType]="'item'"></cascade-icon-with-tooltip>
                        <div style="padding-bottom: 10px;">{{ i.name }} x{{ i.amount }}</div>
                        <button class="btn btn-sm" id="btn-1" *ngIf="i.equippable" (click)="equip(i)"><i class="fa fa-shield" aria-hidden="true"></i> Equip</button>
                    </div>

                    <div class="col-12">
                        <span class="pull-right" style="padding-right: 7%; padding-top: 10px;">
                            <pagination-controls (pageChange)="currentPage = $event"
                            previousLabel=""
                            nextLabel=""
                            maxSize="9"
                            directionLinks="true"
                            class="pager"></pagination-controls> <!--  autoHide="true" -->
                        </span>
                    </div>

                </div>
            </div>


        </div>
    </div>

    <cascade-footer></cascade-footer>

</div>