<style>

</style>
<div class="container">

    <cascade-header-members [user]="user.username" [currency]="user.currency"></cascade-header-members>

    <div class="container border-top-0" id="main-border">
        <div class="row">

            <div class="col-12 text-center border-top-0" style="padding-top: 10px;">
                <cascade-main-menu-nav [selectedTab]="'INVENTORY'"></cascade-main-menu-nav>
            </div>

            <div class="col-12 text-center" style="padding-bottom: 20px; font-size: 12px;">
                <cascade-alert-messages [messages]="messages"></cascade-alert-messages>
            </div>

            <div class="col-12">
                <div class="row text-center" *ngIf="!inventoryEmpty">

                    <div class="col-12" align="">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0 search-box" style="padding-bottom: 15px;">
                            <div class="input-group-addon" style="border-radius: 0px;"><i class="fa fa-search" aria-hidden="true"></i></div>
                            <input type="text" class="form-control form-control-sm" id="inlineFormInputGroup" placeholder="Search..." autocomplete="off"
                                [(ngModel)]="searchedItem" (ngModelChange)="searchInventory()" style="border-radius: 0px;">
                        </div>
                    </div>

                    <div class="col-sm-3 col-6" *ngFor="let i of inventory | paginate: { itemsPerPage: 4, currentPage: currentPage }" style="padding-bottom: 20px; font-size: 11px;">
                        <cascade-icon-with-tooltip [item]="i" [iconType]="'item'"></cascade-icon-with-tooltip>
                        <div style="padding-bottom: 10px;">{{ i.name }} x{{ i.amount }}</div>


                        <div class="dropdown" (offClick)="closeMenu(i)" *ngIf="i.equippable">
                            <div class="dropbtn">
                                <button class="btn btn-sm" id="btn-1" (click)="i.showParty = !i.showParty" style="margin-right: 5px; margin-bottom: 5px;"
                                    ngbTooltip="Equip" placement="top">
                                        <i class="fa fa-shield" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="dropdown-content" *ngIf="i.showParty" style="cursor: pointer">
                                <div *ngFor="let p of party" (click)="equip(p, i); closeMenu(i);">
                                    {{ p.name }}
                                </div>
                            </div>
                        </div>

                        <div class="dropdown" (offClick)="closeMenu(i)" *ngIf="i.usable">
                            <div class="dropbtn">
                                <button class="btn btn-sm" id="btn-1" style="margin-right: 5px; margin-bottom: 5px;" *ngIf="i.usable" ngbTooltip="Use" placement="top"
                                    (click)="i.showParty = !i.showParty">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                            </div>
                            <div class="dropdown-content" *ngIf="i.showParty" style="cursor: pointer">
                                <div *ngFor="let p of party" (click)="useItem(p, i); closeMenu(i);">
                                    {{ p.name }}
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-sm" id="btn-1" style="margin-right: 14px; margin-bottom: 5px;" *ngIf="i.sellable" (click)="sellItem(i)"
                            ngbTooltip="Sell ({{ i.sellValue }})" placement="top">
                            <i class="fa fa-diamond" aria-hidden="true"></i>
                        </button>
                    </div>


                    <div class="col-12">
                        <span class="pull-right" style="padding-right: 7%; padding-top: 10px;">
                            <pagination-controls (pageChange)="currentPage = $event"
                            previousLabel=""
                            nextLabel=""
                            maxSize="9"
                            directionLinks="true"
                            class="pager"></pagination-controls> <!--  autoHide="true" -->
                        </span>
                    </div>

                </div>
            </div>


        </div>
    </div>

    <cascade-footer></cascade-footer>

</div>