<div class="battle-screen" [ngClass]="{
     'ritual-grounds': zone === 'ritual-grounds' || zone === 'ritual-grounds-n1'
    }" style="padding:0;margin:0">
    <div class="party-container">
        <div class="reorient-party" *ngFor="let p of party">
            <cascade-sprite-loader [sprite]="p.sprite"></cascade-sprite-loader> <br />
        </div>
    </div>

    <div class="enemy-container">
        <div *ngFor="let e of enemies">
            <img src="../assets/images/sprites/{{e.sprite}}" class="enemy-sprite" *ngIf="e">
        </div>
    </div>

    <div class="action-container">
        <div class="row">

            <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-xs-12 party-options">

                <table>
                    <tr *ngFor="let p of party; let i = index;">
                        <td class="party-name">
                            {{ p.name }}
                        </td>
                        <td class="party-bar">
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 0%; height: 5px;" aria-valuenow="25" aria-valuemin="0"
                                    aria-valuemax="100" #progressBar></div>
                            </div>
                        </td>
                        <td class="party-hp">
                            {{ p.currHp }} / {{ p.hp }}
                        </td>
                        <td class="party-mp">
                            {{ p.currMp }} / {{ p.mp }}
                        </td>
                        <td class="actions">
                            <span *ngIf="p.showActions" (click)="buildOptions(p, 'ability', i)" style="cursor: pointer;">Ability</span>
                        </td>
                        <td class="actions">
                            <span *ngIf="p.showActions" (click)="buildOptions(p, 'item', i)" style="cursor: pointer;">Item</span>
                        </td>
                        <td class="actions">
                            <span *ngIf="p.showActions" (click)="flee(i)" style="cursor: pointer;">Flee</span>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>

    <div class="options-container" *ngIf="showOptions">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-xs-12 party-options">
                <span *ngFor="let o of options" class="options">
                    <span style="cursor: pointer;" (click)="buildOptions(o, 'hostileSpell')" *ngIf="o.spellType === 'Magic' || o.spellType === 'Physical'">{{ o.spellName }}</span>
                    <span style="cursor: pointer;" (click)="buildOptions(o, 'friendlySpell')" *ngIf="o.spellType === 'Heal'">{{ o.spellName }}</span>
                    <span style="cursor: pointer;" (click)="buildOptions(o, 'friendlyItem')">{{ o.itemName }}</span>

                    <span style="cursor: pointer;" (click)="useOnParty(o)">{{ o.partyName }}</span>
                    <span style="cursor: pointer;" (click)="useOnEnemy(o)">{{ o.enemyName }}</span>
                </span>
            </div>
        </div>
    </div>

    <div class="message-container" *ngIf="message">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-xs-12 party-options">
                <span class="options">
                    {{ message }}
                </span>
            </div>
        </div>
    </div>

</div>