@font-face {
    font-family: Pristina;
    src: url(../../assets/fonts/Pristina.ttf);
}

.battle-screen {
    background-color: #ffffff;
    width: 100%;
    height: 101%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 50;
}


/* different backgrounds for different zones - using ngclass */

.ritual-grounds {
    background-image: url('../../assets/images/backdrops/ritualgrounds-battle.jpg');
    background-size: 100% 100%;
}

.reorient-party {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.enemy-sprite {
    width: 100px;
    height: 100px;
    margin-bottom: -40px;
}

.options {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

#options:-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.0);
}

.options::-webkit-scrollbar {
    width: 6px;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.0);
}

.options::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 344px) {
    .party-options {
        padding-left: 35px;
    }
    .party-container {
        position: absolute;
        top: 53%;
        left: 10%;
    }
    .enemy-container {
        position: absolute;
        top: 48%;
        left: 70%;
    }
    .action-container {
        background-color: rgba(0, 0, 0, .7);
        color: #fff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 10px;
        width: 93.5%;
        height: 85px;
        position: absolute;
        border: 2px solid #000;
        top: 86.5%;
        left: 50%;
        transform: translateX(-50%);
    }
    .options-container {
        background-color: rgba(0, 0, 0, .7);
        color: #fff;
        padding-top: 2px;
        border-right: 2px solid black;
        border-left: 2px solid black;
        border-top: 2px solid black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 10px;
        width: 93.5%;
        height: 25px;
        position: absolute;
        top: 83.25%;
        left: 50%;
        transform: translateX(-50%);
    }
    .party-name {
        width: 60px;
        padding-bottom: 5px;
    }
    .party-bar {
        width: 60px;
        border-radius: 0px;
        padding-bottom: 5px;
    }
    .party-hp {
        width: 70px;
        padding-bottom: 5px;
        color: #00bf00;
        text-align: center;
    }
    .party-mp {
        width: 70px;
        padding-bottom: 5px;
        color: lightblue;
        text-align: center;
    }
    .actions {
        width: 40px;
        padding-bottom: 5px;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .action-container {
        background-color: rgba(0, 0, 0, .7);
        color: #fff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 10px;
        width: 96%;
        height: 85px;
        position: absolute;
        border: 2px solid #000;
        top: 87%;
        left: 50%;
        transform: translateX(-50%);
    }
    .options-container {
        background-color: rgba(0, 0, 0, .7);
        color: #fff;
        padding-top: 1px;
        border-right: 2px solid black;
        border-left: 2px solid black;
        border-top: 2px solid black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 10px;
        width: 96%;
        height: 20px;
        position: absolute;
        top: 84%;
        left: 50%;
        transform: translateX(-50%);
    }
    .party-container {
        position: absolute;
        top: 53%;
        left: 20%;
    }
    .enemy-container {
        position: absolute;
        top: 48%;
        left: 75%;
    }
}

@media (min-width: 992px) {
    .party-options {
        padding-left: 0px;
    }
    .party-container {
        position: absolute;
        top: 53%;
        left: 20%;
    }
    .enemy-container {
        position: absolute;
        top: 47%;
        left: 75%;
    }
    .action-container {
        background-color: rgba(0, 0, 0, .7);
        color: #fff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        width: 97.5%;
        height: 125px;
        position: absolute;
        border: 2px solid #000;
        top: 81%;
        left: 50%;
        transform: translateX(-50%);
    }
    .options-container {
        background-color: rgba(0, 0, 0, .7);
        color: #fff;
        padding-top: 6px;
        border-right: 2px solid black;
        border-left: 2px solid black;
        border-top: 2px solid black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        width: 97.5%;
        height: 37px;
        position: absolute;
        top: 75.4%;
        left: 50%;
        transform: translateX(-50%);
    }
    .party-name {
        width: 5%;
        padding-bottom: 6px;
    }
    .party-bar {
        width: 10%;
        border-radius: 0px;
        padding-bottom: 6px;
    }
    .party-hp {
        width: 10%;
        padding-bottom: 6px;
        color: #00bf00;
        text-align: center;
    }
    .party-mp {
        width: 10%;
        padding-bottom: 6px;
        color: lightblue;
        text-align: center;
    }
    .actions {
        width: 7%;
        padding-bottom: 6px;
        text-align: center;
    }
}