<div class="travel-container" style="margin:0; padding:0">
    <div class="travel-table" style="margin:0; padding:0" [ngClass]="{ 
    'ritual-grounds': zone === 'ritual-grounds', 
    'ritual-grounds-n1': zone === 'ritual-grounds-n1' 
    }">
    </div>

    <div class="travel-arrows hidden-md-up" *ngIf="showArrows">
        <div class="left-arrow arrows" (click)="move(character, 'west')"><i class="fa fa-arrow-left" aria-hidden="true"></i></div>
        <div class="right-arrow arrows" (click)="move(character, 'east')"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
        <div class="down-arrow arrows" (click)="move(character, 'south')"><i class="fa fa-arrow-down" aria-hidden="true"></i></div>
        <div class="up-arrow arrows" (click)="move(character, 'north')"><i class="fa fa-arrow-up" aria-hidden="true"></i></div>
    </div>

    <div class="moving-character" #character>
        <img src="../assets/images/sprites/{{ animationImage }}.png">
    </div>

    <div class="black-screen" [@visibilityChanged]="blackScreen">
        <div class="black-screen-text">
            Enemy encountered!
        </div>
    </div>

    <div *ngIf="inCombat">
        <cascade-battle [zone]="zone" [enemies]="enemies" (combatState)="setCombatState($event)"></cascade-battle>
    </div>
</div>