@font-face {
    font-family: Pristina;
    src: url(../../../assets/fonts/Pristina.ttf);
}

#btn-1 {
    color: #fff;
    background-color: #0099BC;
    border: 1px solid #0099BC;
    font-size: 11px;
}

#btn-1:hover {
    background-color: #0086A5;
}

.arrows:hover {
    color: #ddd;
}

.black-screen {
    background-color: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
}

.travel-arrows {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
}

.tabselected {
    border: 0;
    border-radius: 0;
    font-size: 15px;
    color: #fff;
    background-color: #0086A5;
}

.link-adjustment {
    font-size: 15px;
    color: #eee;
}

.link-adjustment:hover {
    border-radius: 0;
    background-color: #0086A5;
    color: #fff;
}

.bordered-nav {
    background-color: #0099BC;
    border: 1px solid #eee;
}

:host >>> .tooltip {
    opacity: 1;
}

:host >>> .tooltip-inner {
    font-size: 11px;
}

:host >>> .tooltip {
    opacity: 1;
}

:host >>> .tooltip-inner {
    font-size: 11px;
}

@media (min-width: 344px) {
    .pager {
        position: relative;
        top: -15px;
        font-size: 10px;
        line-height: 14px;
        cursor: pointer;
    }
    #main-border {
        border: 0px solid #eee;
    }
    .left-arrow {
        color: #fff;
        font-size: 25px;
        position: absolute;
        top: 50%;
        left: 7%;
        transform: translateY(-50%);
        cursor: pointer;
    }
    .right-arrow {
        color: #fff;
        font-size: 25px;
        position: absolute;
        top: 50%;
        left: 88.5%;
        transform: translateY(-50%);
        cursor: pointer;
    }
    .up-arrow {
        color: #fff;
        font-size: 25px;
        position: absolute;
        top: 1%;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
    }
    .down-arrow {
        color: #fff;
        font-size: 25px;
        position: absolute;
        top: 93%;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
    }
    .black-screen-text {
        font-family: Pristina;
        font-size: 30px;
        color: #fff;
        font-weight: bold;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        text-shadow: 2px 2px black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (min-width: 544px) {
    .pager {
        position: relative;
        top: 0px;
        font-size: 14px;
        line-height: 14px;
        cursor: pointer;
    }
    #main-border {
        border: 1px solid #eee;
    }
    .left-arrow {
        color: #fff;
        font-size: 25px;
        position: absolute;
        top: 50%;
        left: 3%;
        transform: translateY(-50%);
    }
    .right-arrow {
        color: #fff;
        font-size: 25px;
        position: absolute;
        top: 50%;
        left: 95%;
        transform: translateY(-50%);
    }
    .up-arrow {
        color: #fff;
        font-size: 25px;
        position: absolute;
        top: 1%;
        left: 50%;
        transform: translateX(-50%);
    }
    .down-arrow {
        color: #fff;
        font-size: 25px;
        position: absolute;
        top: 93%;
        left: 50%;
        transform: translateX(-50%);
    }
    .black-screen-text {
        font-family: Pristina;
        font-size: 35px;
        color: #fff;
        font-weight: bold;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        text-shadow: 2px 2px black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}