#create-user {
    font-size: 12px;
}

#main-border {
    border: 1px solid #eee;
}

#btn-1 {
    font-size: 12px;
    border-radius: 0px;
    transition: 0s;
    background-color: #0099BC;
    border: 1px solid #0099BC;
}

#btn-1:hover {
    transition: 0s;    
    background-color: #0086A5;
}

/*input.ng-touched.ng-invalid {
    border: 1px solid #bb0000;
}

form.ng-submitted input.ng-invalid, form.ng-submitted select.ng-invalid, form.ng-submitted textarea.ng-invalid {
    border: 1px solid #bb0000;
}

form.ng-submitted input.ng-valid, form.ng-submitted select.ng-valid, form.ng-submitted textarea.ng-valid,
    input.ng-valid.ng-dirty , select.ng-valid.ng-dirty, textarea.ng-valid.ng-dirty {
    border: 1px solid #00bf00 !important;
}*/
