#create-user {
    font-size: 12px;
}

#main-border {
    border: 1px solid #eee;
}

#btn-1 {
    font-size: 12px;
    background-color: #0099BC;
    border: 1px solid #0099BC;
}

#btn-1:hover {
    background-color: #0086A5;
}

@media (min-width: 344px) {
    .frame {
       height: 100vh;
    }

    .inner-frame {
        height: 100vh;
    }

    #main-border {
        border: 0px solid #eee; 
    }

    .create-box {
        position: relative; 
        top: 50%; 
        transform: translateY(-50%);
    }
}

@media (min-width: 544px) {
    .frame {
        height: 100%;
    }

    .inner-frame {
        height: 100%;
    }

    #main-border {
        border: 1px solid #eee;
    }

    .create-box {
        position: relative; 
        top: 0%; 
        transform: translateY(0%);
    }
}


/*input.ng-touched.ng-invalid {
    border: 1px solid #bb0000;
}

form.ng-submitted input.ng-invalid, form.ng-submitted select.ng-invalid, form.ng-submitted textarea.ng-invalid {
    border: 1px solid #bb0000;
}

form.ng-submitted input.ng-valid, form.ng-submitted select.ng-valid, form.ng-submitted textarea.ng-valid,
    input.ng-valid.ng-dirty , select.ng-valid.ng-dirty, textarea.ng-valid.ng-dirty {
    border: 1px solid #00bf00 !important;
}*/
