#main-border {
    border: 1px solid #eee;
}

#btn-1 {
    color: #fff;
    background-color: #0099BC;
    border: 1px solid #0099BC;
    font-size: 11px;
}

#btn-1:hover {
    background-color: #0086A5;
}

.black-screen {
    background-color: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
}

:host >>> .tooltip {
    opacity: 1;
}

:host >>> .tooltip-inner {
    font-size: 11px;
}