#main-border {
    border: 1px solid #eee;
}

.party-member {
    display: table;
    padding-bottom: 20px;
    height: 200px;
}

.party-member-span {
    border: 1px solid #ddd;
    font-size: 12px;
    border-radius: 0px;
    height: 100px;
    display: table-cell;
    vertical-align: middle;
}

:host >>>  .tooltip {
    opacity: 1;
}

:host >>>  .tooltip-inner {
    font-size: 11px;
}
