<div class="container">

    <cascade-header-members></cascade-header-members>

    <div class="container border-top-0" id="main-border">
        <div class="row">

            <div class="col-12 text-center border-top-0" style="padding-top: 10px;">
                <cascade-main-menu-nav [selectedTab]="PARTY"></cascade-main-menu-nav>
            </div>

            <div *ngIf="messages" class="col-12 text-center" style="padding-bottom: 15px; font-size: 12px;">
                <cascade-alert-messages [messages]="messages"></cascade-alert-messages>
            </div>

            <!-- first party member -->
            <div class="col-6 col-lg-3 text-center party-member">
                <span class="party-member-span" *ngIf="user.party_slots_unlocked === '1' && !party.partyMemberOne">
                    <i class="fa fa-user"></i>
                    <br />
                    Slot available!
                    <br /> <br />
                    <button class="btn btn-sm btn-primary" id="btn-1" style="cursor: pointer;" (click)="hire();">Hire</button>
                </span>

                <span class="party-member-span" *ngIf="party.partyMemberOne" style="font-size: 11px;">

                    

                    <strong style="font-size: 13px;">{{ party.partyMemberOne.name }}</strong> <br />
                        
                    <cascade-sprite-loader [sprite]="party.partyMemberOne.sprite"></cascade-sprite-loader> <br />
                    
                    Level <cascade-job-level-display [partyMember]="party.partyMemberOne"></cascade-job-level-display> {{ party.partyMemberOne.job }} <br />

                    <span style="color: green;">
                        {{ party.partyMemberOne.current_hp }} / {{ party.partyMemberOne.hp }}
                    </span> <br />

                    <span style="color: blue;">
                        {{ party.partyMemberOne.current_mp }} / {{ party.partyMemberOne.mp }}
                    </span> <br />

                    <div style="font-size: 12px; padding-top: 5px; padding-bottom: 5px;">
                        <i class="fa fa-graduation-cap" ngbTooltip="Job" placement="top" style="cursor: pointer; padding-right: 2px;"></i>                        
                        <i class="fa fa-shield" ngbTooltip="Equipment" placement="top" style="cursor: pointer; padding-right: 2px;"></i>
                        <i class="fa fa-fire" ngbTooltip="Spells" placement="top" style="cursor: pointer;"></i>
                    </div>

                    <cascade-exp-bar [experience]="party.partyMemberOne.experience" [experienceNeeded]="party.partyMemberOne.experience_needed"></cascade-exp-bar>
                </span>

            </div>

            <!-- second party member -->
            <div class="col-6 col-lg-3 text-center party-member">
                <span class="party-member-span" *ngIf="user.party_slots_unlocked === '1'">                
                    <i class="fa fa-user-times"></i>
                    <br />
                    Locked
                </span>

                <span class="party-member-span" *ngIf="user.party_slots_unlocked !== '1' && !party.partyMemberTwo">
                    <i class="fa fa-user"></i>
                    <br />
                    Slot available!
                    <br /> <br />
                    <button class="btn btn-sm btn-primary" id="btn-1" style="cursor: pointer;" (click)="hire();">Hire</button>
                </span>

                <span class="party-member-span" *ngIf="party.partyMemberTwo">
                    <cascade-sprite-loader [sprite]="party.partyMemberTwo.sprite"></cascade-sprite-loader>
                </span>
            </div>

            <!-- third party member -->
            <div class="col-6 col-lg-3 text-center party-member">
                <span class="party-member-span" *ngIf="user.party_slots_unlocked === '1' || user.party_slots_unlocked === '2'">
                    <i class="fa fa-user-times"></i>
                    <br />
                    Locked
                </span>

                <span class="party-member-span" *ngIf="user.party_slots_unlocked !== '1' && user.party_slots_unlocked !== '2' && !party.PartyMemberThree">
                    <i class="fa fa-user"></i>
                    <br />
                    Slot available!
                    <br /> <br />
                    <button class="btn btn-sm btn-primary" id="btn-1" style="cursor: pointer;" (click)="hire();">Hire</button>
                </span>

                <span class="party-member-span" *ngIf="party.partyMemberThree">
                    <cascade-sprite-loader [sprite]="party.partyMemberThree.sprite"></cascade-sprite-loader>
                </span>
            </div>

            <!-- fourth party member -->
            <div class="col-6 col-lg-3 text-center party-member">
                <span class="party-member-span" *ngIf="user.party_slots_unlocked === '1' || user.party_slots_unlocked === '2'
                || user.party_slots_unlocked === '3'">
                    <i class="fa fa-user-times"></i>
                    <br />
                    Locked
                </span>

                <span class="party-member-span" *ngIf="user.party_slots_unlocked === '4' && !party.partyMemberFour">
                    <i class="fa fa-user"></i>
                    <br />
                    Slot available!
                    <br /> <br />
                    <button class="btn btn-sm btn-primary" id="btn-1" style="cursor: pointer;" (click)="hire();">Hire</button>
                </span>

                <span class="party-member-span" *ngIf="party.partyMemberFour">
                    <cascade-sprite-loader [sprite]="party.partyMemberFour.sprite"></cascade-sprite-loader>                    
                </span>
            </div>

        </div>
    </div>

    <cascade-footer></cascade-footer>

</div>