<div class="container">

    <cascade-header-members [user]="user.username" [currency]="user.currency"></cascade-header-members>

    <div class="container border-top-0" id="main-border">
        <div class="row">

            <div class="col-12 text-center border-top-0" style="padding-top: 10px;">
                <cascade-main-menu-nav [selectedTab]="PARTY"></cascade-main-menu-nav>
            </div>

            <div *ngIf="messages" class="col-12 text-center" style="padding-bottom: 17px; font-size: 12px;">
                <cascade-alert-messages [messages]="messages"></cascade-alert-messages>
            </div>

            <!-- first party member -->
            <div class="col-6 col-lg-3 text-center party-member" *ngFor="let p of party">
                <span class="party-member-span" *ngIf="!p">
                    <i class="fa fa-user"></i>
                    <br />
                    Slot available!
                    <br /> <br />
                    <button class="btn btn-sm btn-primary" id="btn-1" style="cursor: pointer;" (click)="hire();">Hire</button>
                </span>

                <span class="party-member-span" *ngIf="p" style="font-size: 11px;">
                    <strong style="font-size: 13px;">{{ p.name }}</strong> <br />
                        
                    <cascade-sprite-loader [sprite]="p.sprite"></cascade-sprite-loader> <br />
                    
                    Level {{ p.level }} {{ p.job }} <br />

                    <span style="color: green;">
                        {{ p.current_hp }} / {{ p.hp }}
                    </span> <br />

                <span style="color: blue;">
                        {{ p.current_mp }} / {{ p.mp }}
                    </span> <br />

                <div style="font-size: 12px; padding-top: 5px; padding-bottom: 5px;">
                    <i class="fa fa-bar-chart" ngbTooltip="Stats" placement="top" style="cursor: pointer; padding-right: 2px;" (click)="displayStats(p);"></i>
                    <i class="fa fa-shield" ngbTooltip="Equipment" placement="top" style="cursor: pointer; padding-right: 2px;" (click)="displayEquipment(p);"></i>
                    <i class="fa fa-fire" ngbTooltip="Spells" placement="top" style="cursor: pointer;  padding-right: 2px;" (click)="displaySpells(p);"></i>
                    <i class="fa fa-times" ngbTooltip="Remove" placement="top" style="cursor: pointer;" (click)="confirmRemove(p.id);"></i>
                </div>

                <cascade-exp-bar [experience]="p.experience" [experienceNeeded]="p.experience_needed"></cascade-exp-bar>
                </span>
            </div>

            <div class="col-6 col-lg-3 text-center party-member" *ngIf="party.length === 0">
                <span class="party-member-span">
                    <i class="fa fa-user"></i>
                    <br />
                    Slot available!
                    <br /> <br />
                    <button class="btn btn-sm btn-primary" id="btn-1" style="cursor: pointer;" (click)="hire();">Hire</button>
                </span>
            </div>

            <div class="col-6 col-lg-3 text-center party-member" *ngIf="user.party_slots_unlocked === '1'">
                <span class="party-member-span">                
                    <i class="fa fa-user-times"></i>
                    <br />
                    Locked
                </span>
            </div>

            <div class="col-6 col-lg-3 text-center party-member" *ngIf="user.party_slots_unlocked !== '1' && party.length < 2">
                <span class="party-member-span">
                    <i class="fa fa-user"></i>
                    <br />
                    Slot available!
                    <br /> <br />
                    <button class="btn btn-sm btn-primary" id="btn-1" style="cursor: pointer;" (click)="hire();">Hire</button>
                </span>
            </div>
            
            
            <div class="col-6 col-lg-3 text-center party-member" *ngIf="user.party_slots_unlocked === '1' || user.party_slots_unlocked === '2'">
                <span class="party-member-span" >
                    <i class="fa fa-user-times"></i>
                    <br />
                    Locked
                </span>
            </div>

            <div class="col-6 col-lg-3 text-center party-member" *ngIf="user.party_slots_unlocked !== '1' && user.party_slots_unlocked !== '2' && party.length < 3">
                <span class="party-member-span">
                    <i class="fa fa-user"></i>
                    <br />
                    Slot available!
                    <br /> <br />
                    <button class="btn btn-sm btn-primary" id="btn-1" style="cursor: pointer;" (click)="hire();">Hire</button>
                </span>
            </div>

            <div class="col-6 col-lg-3 text-center party-member" *ngIf="user.party_slots_unlocked === '1' || user.party_slots_unlocked === '2'
            || user.party_slots_unlocked === '3'">
                <span class="party-member-span">
                    <i class="fa fa-user-times"></i>
                    <br />
                    Locked
                </span>
            </div>

            <div class="col-6 col-lg-3 text-center party-member" *ngIf="user.party_slots_unlocked === '4' && party.length < 4">
                <span class="party-member-span">
                    <i class="fa fa-user"></i>
                    <br />
                    Slot available!
                    <br /> <br />
                    <button class="btn btn-sm btn-primary" id="btn-1" style="cursor: pointer;" (click)="hire();">Hire</button>
                </span>
            </div>

        </div>
    </div>

    <cascade-footer></cascade-footer>

</div>