<div class="modal-content">
    <div class="modal-header">
        <span class="modal-title pull-left">
            Spells ({{ partyMember.name }})
        </span>
        <button type="button" class="close pull-right" aria-label="Close" (click)="activeModal.dismiss('cancel')">
            <span style="color: #fff;" aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="container">
            <div class="row" *ngIf="this.messages.length > 0">
                <div class="col-12 text-center" style="padding-bottom: 20px; font-size: 12px;">
                    <cascade-alert-messages [messages]="messages"></cascade-alert-messages>
                </div>
            </div>

            <table class="table table-striped" *ngIf="partyMember.spells" style="margin-top: 12px;">
                <thead style="background-color: #0099BC; color: #fff;">
                    <tr>
                        <th class="text-center">Spell</th>
                        <th class="text-center">Cost</th>
                        <th class="text-center">Base</th>
                        <th class="text-center">Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let s of partyMember.spells" style="font-size: 11px;">
                        <td class="text-center">
                            <cascade-icon-with-tooltip [item]="s" [iconType]="'spell'"></cascade-icon-with-tooltip>

                            {{ s.spellName }}
                        </td>
                        <td class="text-center" style="color: blue;">{{ s.cost }} MP</td>
                        <td class="text-center">{{ s.base }}</td>
                        <td class="text-center">{{ s.spellType }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>