.modal-header { 
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background: #0099BC;
    border-bottom: 3px solid #0086A5;
    font-size: 14px;
    letter-spacing: 1pt;
}

.modal-body {
    font-size: 12px;
}