<div class="battle-screen" [ngClass]="{ 'ritual-grounds': zone === 'Ritual Grounds' || zone === 'Ritual Grounds2' }" style="padding:0;margin:0">
    <div class="party-container">
        <div class="reorient-party" *ngFor="let p of party">
            <cascade-sprite-loader [sprite]="p.sprite"></cascade-sprite-loader> <br />
        </div>
    </div>

    <div class="enemy-container">
        <div *ngFor="let e of enemies">
            <img src="../assets/images/sprites/{{e.sprite}}" class="enemy-sprite">
        </div>
    </div>

    <div class="action-container">
        <div class="row">

            <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-xs-12 party-options">

                <table>
                    <tr *ngFor="let p of party; let i = index;">
                        <td class="party-name">
                            {{ p.name }}
                        </td>
                        <td class="party-bar">
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 0%; height: 5px;" aria-valuenow="25" aria-valuemin="0"
                                    aria-valuemax="100" #progressBar></div>
                            </div>
                        </td>
                        <td class="party-hp">
                            {{ p.currHp }} / {{ p.hp }}
                        </td>
                        <td class="party-mp">
                            {{ p.currMp }} / {{ p.mp }}
                        </td>
                        <td class="actions">
                            Ability
                        </td>
                        <td class="actions">
                            Item
                        </td>
                        <td class="actions">
                            Flee
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>

</div>