@font-face {
    font-family: Pristina;
    src: url(../../assets/fonts/Pristina.ttf);
}

.battle-screen {
    background-color: #ffffff;
    width: 100%;
    height: 101%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 50;
}


/* different backgrounds for different zones - using ngclass */

.ritual-grounds {
    background-image: url('../../assets/images/backdrops/ritualgrounds-battle.jpg');
    background-size: 100% 100%;
}

.reorient-party {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.enemy-sprite {
    width: 100px;
    height: 100px;
    margin-bottom: -40px;
}

.options {
    padding-right: 35px;
}

@media (min-width: 344px) {
    .party-options {
        padding-left: 35px;
    }
    .party-container {
        position: absolute;
        top: 53%;
        left: 10%;
    }
    .enemy-container {
        position: absolute;
        top: 48%;
        left: 70%;
    }
    .action-container {
        background-color: rgba(0, 0, 0, .7);
        color: #fff;
        font-family: Pristina;
        font-size: 17px;
        width: 100%;
        height: 120px;
        position: absolute;
        top: 82.5%;
        left: 0%;
    }
    .options-container {
        background-color: rgba(0, 0, 0, .7);
        border-bottom: 1px solid #000;        
        color: #fff;
        font-family: Pristina;
        font-size: 17px;
        width: 100%;
        height: 20px;
        position: absolute;
        top: 79.8%;
        left: 0%;
    }
    .party-name {
        width: 75px;
        padding-bottom: 5px;
    }
    .party-bar {
        width: 75px;
        border-radius: 0px;
        padding-bottom: 5px;
    }
    .party-hp {
        width: 70px;
        padding-bottom: 5px;
        color: #00bf00;
        text-align: center;
    }
    .party-mp {
        width: 70px;
        padding-bottom: 5px;
        color: lightblue;
        text-align: center;
    }
    .actions {
        width: 40px;
        padding-bottom: 5px;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .action-container {
        background-color: rgba(0, 0, 0, .7);
        color: #fff;
        font-family: Pristina;
        font-size: 17px;
        width: 100%;
        height: 120px;
        position: absolute;
        top: 82%;
        left: 0%;
    }
    .options-container {
        background-color: rgba(0, 0, 0, .7);
        border-bottom: 1px solid #000;        
        color: #fff;
        font-family: Pristina;
        font-size: 17px;
        width: 100%;
        height: 20px;
        position: absolute;
        top: 78.9%;
        left: 0%;
    }
    .party-container {
        position: absolute;
        top: 53%;
        left: 20%;
    }
    .enemy-container {
        position: absolute;
        top: 48%;
        left: 75%;
    }
}

@media (min-width: 992px) {
    .party-options {
        padding-left: 0px;
    }
    .party-container {
        position: absolute;
        top: 53%;
        left: 20%;
    }
    .enemy-container {
        position: absolute;
        top: 47%;
        left: 75%;
    }
    .action-container {
        background-color: rgba(0, 0, 0, .7);
        color: #fff;
        font-family: Pristina;
        font-size: 17px;
        width: 100%;
        height: 120px;
        position: absolute;
        top: 82%;
        left: 0%;
    }
    .options-container {
        background-color: rgba(0, 0, 0, .7);
        border-bottom: 1px solid #000;
        color: #fff;
        font-family: Pristina;
        font-size: 17px;
        width: 100%;
        height: 20px;
        position: absolute;
        top: 78.9%;
        left: 0%;
    }
    .party-name {
        width: 5%;
        padding-bottom: 6px;
    }
    .party-bar {
        width: 10%;
        border-radius: 0px;
        padding-bottom: 6px;
    }
    .party-hp {
        width: 10%;
        padding-bottom: 6px;
        color: #00bf00;
        text-align: center;
    }
    .party-mp {
        width: 10%;
        padding-bottom: 6px;
        color: lightblue;
        text-align: center;
    }
    .actions {
        width: 7%;
        padding-bottom: 6px;
        text-align: center;
    }
}