<div class="row">
    <div class="col-12 text-center" style="padding: 0;">
        <img src="../assets/images/backdrops/{{ backdrop }}" class="frame">
        <div class="welcome">{{ zoneTitle }}</div>

        <div class="dialogue" [@visibilityChanged]="state">
            <div class="dialogue-box">

                <!-- when there is a speaker -->
                <div class="row">
                    <div class="col-lg-3 offset-lg-3 col-6" *ngIf="portrait">
                        <img src="../assets/images/dialogue-faces/{{ portrait }}" class="img-fluid portrait">
                    </div>
                    <div class="col-lg-3 col-6 text-center" *ngIf="portrait">
                        <div class="speaker-name">{{ speakerName }}</div>

                        <div class="response">
                            <div [innerHtml]="dialogue | safeHtml"></div>
                            <div (click)="progressDialogue('nextScene')" *ngIf="continuable" class="continue" style="cursor: pointer; padding-top: 5px;">Continue</div>
                            <div (click)="progressDialogue('prevScene')" *ngIf="backAllowed" class="back" style="cursor: pointer; padding-top: 5px;">Back</div>
                        </div>
                    </div>
                </div>

                <!-- when it's time for a response -->
                <div class="row" *ngIf="!portrait" class="response">
                    <div class="col-12 text-center">
                        <div>
                            <div [innerHtml]="dialogue | safeHtml"></div>
                            <div (click)="progressDialogue('nextScene')" *ngIf="decisionAllowed" class="back" style="cursor: pointer; padding-top: 5px;">Yes</div>
                            <div (click)="progressDialogue('prevScene')" *ngIf="decisionAllowed" class="back" style="cursor: pointer; padding-top: 5px;">No</div>

                            <div *ngIf="arcMenu">
                                <a href="/arc/townsquare">Townsquare</a><br />
                                <a href="/arc/blue-moon-inn">Blue Moon Inn</a><br />
                                <a href="/arc/general-store">General Store</a><br />
                                <a href="/arc/equipment-store">Equipment Store</a>
                            </div>

                            <div (click)="progressDialogue('nextScene')" *ngIf="continuable" class="continue" style="cursor: pointer; padding-top: 5px;">Continue</div>
                            <div (click)="progressDialogue('prevScene')" *ngIf="backAllowed" class="back" style="cursor: pointer; padding-top: 5px;">Back</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>