:host >>> a {
    color: #fff;
    font-weight: bold;
}

:host >>> a:hover {
    text-decoration: none;
    color: #0099BC;    
}

.continue {
    color: #fff;
    font-weight: bold;
}

.continue:hover {
    text-decoration: none;
    color: #0099BC;    
}

.char-name {
    background-color: #0099BC;
    border: 1px solid #000;
    width: 100px;
    font-size: 20px;
    position: absolute;
    top: -10%;
    left: 0%;
}

.welcome {
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 2px 2px black;
    font-family: Pristina;
    position: absolute;
    top: 2%;
    left: 0;
    right: 0;
}

@media (min-width: 344px) {
    .frame {
        /* 100vh */
        height: 100vh;
        width: 100%;
    }

    .dialogue {
        font-weight: bold;
        font-size: 13px;
        font-family: Pristina;
        position: absolute;
        top: 68.2%;
        left: 0;
        right: 0;
    }

    .dialogue-box {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 380px;
        color: #fff;
        background-color: rgba(0, 0, 0, .7);
        margin: auto;
    }
}

@media (min-width: 544px) {
    .frame {
        /* 100vh */
        height: 650px;
        width: 100%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .frame {
        height:650px;
        width: 100%;
    }
    
    .dialogue {
        font-weight: bold;
        font-size: 13px;
        font-family: Pristina;
        position: absolute;
        top: 77.5%;
        left: 0;
        right: 0;
    }

    .dialogue-box {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        color: #fff;
        border: 1px solid #000;
        background-color: rgba(0, 0, 0, .7);
        margin: auto;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
}