.exp-bar {
    width: 70%; 
    margin-right: auto; 
    margin-left: auto; 
    border: 1px solid #ddd;
}

.progress {
    text-align: center;
}

.progress-value {
    font-weight: bold;
    position: absolute;
    right: 0;
    left: 0;
}