<div class="container" id="menu-border" style="padding: 0;">
  <div class="row">

    <!-- banner -->
    <div class="col-12">
      <a href="">
        <img src="../assets/images/cascade_banner.jpg" class="hidden-sm-down img-fluid" id="banner">

        <img src="../assets/images/cascade_banner_mobile.jpg" class="hidden-sm-up img-fluid" id="banner">        
      </a>
    </div>

    <!-- menu -->
    <div class="col-12">
      <nav class="nav">
        <ul class="nav ml-auto">
          <li class="nav-item">
            <a href="/signup" class="nav-link link-adjustment">signup</a>
          </li>
          <li class="nav-item">
            <a href="/login" class="nav-link link-adjustment">login</a>
          </li>
        </ul>
      </nav>
    </div>

  </div>
</div>