<div class="container" id="menu-border" style="padding: 0;">
  <div class="row">

    <!-- banner -->
    <div class="col-12">
      <a href="/party">
        <img src="../assets/images/cascade_banner.jpg" class="hidden-sm-down img-fluid" id="banner">

        <img src="../assets/images/cascade_banner_mobile.jpg" class="hidden-md-up img-fluid" id="banner">
      </a>
    </div>

    <!-- menu -->
    <div class="col-12">

      <!--<div class="float-left" style="font-size: 13px;">
        Logged in as: {{ user }}
        <i class="fa fa-diamond float-left"></i> {{ currency }}
      </div>-->

      <nav class="nav">
        <ul class="nav ml-auto">
          <li class="nav-item">
            <a href="#" class="nav-link link-adjustment">menu</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link link-adjustment">explore</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link link-adjustment" (click)="logout();">logout</a>
          </li>
        </ul>
      </nav>
    </div>

  </div>
</div>