<div class="container" id="menu-border" style="padding: 0;">
  <div class="row">

    <!-- banner -->
    <div class="col-12">
      <a href="/party">
        <img src="../assets/images/cascade_banner.jpg" class="hidden-md-down img-fluid banner">

        <!--<img src="../assets/images/cascade_banner_mobile.jpg" class="hidden-md-up img-fluid " id="banner">-->
      </a>
    </div>

    <!-- menu -->
    <div class="col-12"  style="z-index: 100;">
      <div class="dropdown" (offClick)="closeMenu()">
        <div class="dropbtn">
          <i class="fa fa-bars" style="cursor: pointer;" (click)="showMenu = !showMenu"></i>
        </div>
        <div class="dropdown-content" *ngIf="showMenu">
          <a href="/party">
            <i class="fa fa-user"></i> &nbsp; Menu
          </a>
          <a href="/explore">
            <i class="fa fa-map" style="cursor: pointer;"></i> &nbsp; Explore
          </a>
          <div style="cursor: pointer;" (click)="displaySettings();">
            <i class="fa fa-cog" style="cursor: pointer;"></i> &nbsp; Settings
          </div>
          <div style="cursor: pointer;" (click)="logout();">
            <i class="fa fa-sign-out" style="cursor: pointer;"></i> &nbsp; Logout
          </div>
        </div>
      </div>

      <div class="float-right" style="font-size: 11px; padding-top: 5px; padding-right: 10px;">
        <i class="fa fa-envelope-o"></i> {{ newMessages }} &nbsp; &nbsp;
        
        <i class="fa fa-diamond"></i> {{ currency }} &nbsp; &nbsp;
      </div>

    </div>

  </div>
</div>