#menu-border {
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.link-adjustment {
    color: #000;
    font-size: 13px;
}

#banner {
    width: 100%;
}