<div *ngIf="iconType === 'spell'">
    <template #tipContent>
        <img src="../../assets/images/spell-icons/{{ tipInfo.icon }}" style="width: 35px; height: 30px; padding-right: 5px;">
        <b>
            {{ tipInfo.spellName }} 
            <span *ngIf="tipInfo.cost">({{ tipInfo.cost }})</span>
        </b> <br />
        <b style="color: gold">{{ tipInfo.description }}</b>
    </template>

    <img src="../../assets/images/spell-icons/{{ item.icon }}" class="mx-auto d-block" style="width: 45px; height: 45px; padding-bottom: 5px;"
        [ngbTooltip]="tipContent" [placement]="'top'" #t="ngbTooltip" (mouseenter)="tipInfo = item;">
</div>

<div *ngIf="iconType === 'item'">
    <template #tipContent>
        <img src="../../assets/images/item-icons/{{ tipInfo.icon }}" style="width: 35px; height: 35px; padding-right: 5px;" *ngIf="item.id !== 'empty'">
        <b>{{ tipInfo.name }}</b> <br />

        <b *ngIf="tipInfo.bonusStr">+{{ tipInfo.bonusStr }} STR <br /></b>
        <b *ngIf="tipInfo.bonusMag">+{{ tipInfo.bonusMag }} MAG <br /></b>
        <b *ngIf="tipInfo.bonusDef">+{{ tipInfo.bonusDef }} DEF <br /></b>
        <b *ngIf="tipInfo.bonusRes">+{{ tipInfo.bonusRes }} RES <br /></b>
        <b *ngIf="tipInfo.bonusHst">+{{ tipInfo.bonusHst }} HST <br /></b>
        <b *ngIf="tipInfo.bonusHp">+{{ tipInfo.bonusHp }} HP <br /></b>
        <b *ngIf="tipInfo.bonusMp">+{{ tipInfo.bonusMp }} MP <br /></b>

        <b *ngIf="tipInfo.effect"><br /></b>

        <b style="color: gold" *ngIf="tipInfo.description">{{ tipInfo.description }}</b>
    </template>

    <img src="../../assets/images/item-icons/{{ item.icon }}" style="width: 50px; height: 50px; padding-bottom: 5px;"
        [ngbTooltip]="tipContent" [placement]="'top'" #t="ngbTooltip" (mouseenter)="tipInfo = item;">
</div>