.tabselected {
    border-radius: 0;
    font-size: 15px;    
    color: #fff;    
    background-color: #0086A5;
}

.link-adjustment {
    font-size: 15px;
    color: #eee;
}

.link-adjustment:hover{
    border-radius: 0;
    background-color: #0086A5;
    color: #fff;
}

.bordered-nav {
    background-color: #0099BC;
    border: 1px solid #eee;
}

@media (min-width: 544px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }