<div class="table-container" style="margin:0; padding:0">
    <table class="table travel-table"  style="margin:0; padding:0">

        <!-- row 7 -->
        <tr>
            <td [ngClass]="{ 'on-location': y === 7 && x === 1, 'off-location': y !== 7 || x !== 1 }"></td>
            <td [ngClass]="{ 'on-location': y === 7 && x === 2, 'off-location': y !== 7 || x !== 2 }"></td>
            <td [ngClass]="{ 'on-location': y === 7 && x === 3, 'off-location': y !== 7 || x !== 3 }"></td>
            <td [ngClass]="{ 'on-location': y === 7 && x === 4, 'off-location': y !== 7 || x !== 4 }"></td>
            <td [ngClass]="{ 'on-location': y === 7 && x === 5, 'off-location': y !== 7 || x !== 5 }"></td>
            <td [ngClass]="{ 'on-location': y === 7 && x === 6, 'off-location': y !== 7 || x !== 6 }"></td>
            <td [ngClass]="{ 'on-location': y === 7 && x === 7, 'off-location': y !== 7 || x !== 7 }"></td>
        </tr>

        <!-- row 6 -->
        <tr>
            <td [ngClass]="{ 'on-location': y === 6 && x === 1, 'off-location': y !== 6 || x !== 1 }"></td>
            <td [ngClass]="{ 'on-location': y === 6 && x === 2, 'off-location': y !== 6 || x !== 2 }"></td>
            <td [ngClass]="{ 'on-location': y === 6 && x === 3, 'off-location': y !== 6 || x !== 3 }"></td>
            <td [ngClass]="{ 'on-location': y === 6 && x === 4, 'off-location': y !== 6 || x !== 4 }"></td>
            <td [ngClass]="{ 'on-location': y === 6 && x === 5, 'off-location': y !== 6 || x !== 5 }"></td>
            <td [ngClass]="{ 'on-location': y === 6 && x === 6, 'off-location': y !== 6 || x !== 6 }"></td>
            <td [ngClass]="{ 'on-location': y === 6 && x === 7, 'off-location': y !== 6 || x !== 7 }"></td>
        </tr>

        <!-- row 5 -->
        <tr>
            <td [ngClass]="{ 'on-location': y === 5 && x === 1, 'off-location': y !== 5 || x !== 1 }"></td>
            <td [ngClass]="{ 'on-location': y === 5 && x === 2, 'off-location': y !== 5 || x !== 2 }"></td>
            <td [ngClass]="{ 'on-location': y === 5 && x === 3, 'off-location': y !== 5 || x !== 3 }"></td>
            <td [ngClass]="{ 'on-location': y === 5 && x === 4, 'off-location': y !== 5 || x !== 4 }"></td>
            <td [ngClass]="{ 'on-location': y === 5 && x === 5, 'off-location': y !== 5 || x !== 5 }"></td>
            <td [ngClass]="{ 'on-location': y === 5 && x === 6, 'off-location': y !== 5 || x !== 6 }"></td>
            <td [ngClass]="{ 'on-location': y === 5 && x === 7, 'off-location': y !== 5 || x !== 7 }"></td>
        </tr>


        <!-- row 4 -->
        <tr>
            <td [ngClass]="{ 'on-location': y === 4 && x === 1, 'off-location': y !== 4 || x !== 1 }"></td>
            <td [ngClass]="{ 'on-location': y === 4 && x === 2, 'off-location': y !== 4 || x !== 2 }"></td>
            <td [ngClass]="{ 'on-location': y === 4 && x === 3, 'off-location': y !== 4 || x !== 3 }"></td>
            <td [ngClass]="{ 'on-location': y === 4 && x === 4, 'off-location': y !== 4 || x !== 4 }"></td>
            <td [ngClass]="{ 'on-location': y === 4 && x === 5, 'off-location': y !== 4 || x !== 5 }"></td>
            <td [ngClass]="{ 'on-location': y === 4 && x === 6, 'off-location': y !== 4 || x !== 6 }"></td>
            <td [ngClass]="{ 'on-location': y === 4 && x === 7, 'off-location': y !== 4 || x !== 7 }"></td>
        </tr>

        <!-- row 3 -->
        <tr>
            <td [ngClass]="{ 'on-location': y === 3 && x === 1, 'off-location': y !== 3 || x !== 1 }"></td>
            <td [ngClass]="{ 'on-location': y === 3 && x === 2, 'off-location': y !== 3 || x !== 2 }"></td>
            <td [ngClass]="{ 'on-location': y === 3 && x === 3, 'off-location': y !== 3 || x !== 3 }"></td>
            <td [ngClass]="{ 'on-location': y === 3 && x === 4, 'off-location': y !== 3 || x !== 4 }"></td>
            <td [ngClass]="{ 'on-location': y === 3 && x === 5, 'off-location': y !== 3 || x !== 5 }"></td>
            <td [ngClass]="{ 'on-location': y === 3 && x === 6, 'off-location': y !== 3 || x !== 6 }"></td>
            <td [ngClass]="{ 'on-location': y === 3 && x === 7, 'off-location': y !== 3 || x !== 7 }"></td>
        </tr>

        <!-- row 2 -->
        <tr>
            <td [ngClass]="{ 'on-location': y === 2 && x === 1, 'off-location': y !== 2 || x !== 1 }"></td>
            <td [ngClass]="{ 'on-location': y === 2 && x === 2, 'off-location': y !== 2 || x !== 2 }"></td>
            <td [ngClass]="{ 'on-location': y === 2 && x === 3, 'off-location': y !== 2 || x !== 3 }"></td>
            <td [ngClass]="{ 'on-location': y === 2 && x === 4, 'off-location': y !== 2 || x !== 4 }"></td>
            <td [ngClass]="{ 'on-location': y === 2 && x === 5, 'off-location': y !== 2 || x !== 5 }"></td>
            <td [ngClass]="{ 'on-location': y === 2 && x === 6, 'off-location': y !== 2 || x !== 6 }"></td>
            <td [ngClass]="{ 'on-location': y === 2 && x === 7, 'off-location': y !== 2 || x !== 7 }"></td>
        </tr>

        <!-- row 1 -->
        <tr>
            <td [ngClass]="{ 'on-location': y === 1 && x === 1, 'off-location': y !== 1 || x !== 1 }"></td>
            <td [ngClass]="{ 'on-location': y === 1 && x === 2, 'off-location': y !== 1 || x !== 2 }"></td>
            <td [ngClass]="{ 'on-location': y === 1 && x === 3, 'off-location': y !== 1 || x !== 3 }"></td>
            <td [ngClass]="{ 'on-location': y === 1 && x === 4, 'off-location': y !== 1 || x !== 4 }"></td>
            <td [ngClass]="{ 'on-location': y === 1 && x === 5, 'off-location': y !== 1 || x !== 5 }"></td>
            <td [ngClass]="{ 'on-location': y === 1 && x === 6, 'off-location': y !== 1 || x !== 6 }"></td>
            <td [ngClass]="{ 'on-location': y === 1 && x === 7, 'off-location': y !== 1 || x !== 7 }"></td>
        </tr>

    </table>
</div>